html,
body {
    width:100%;
    height:100%;
    display:block;
    background-image:url('images/sparkle.jpg');
    background-repeat:repeat;
    font:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size:6em;
    font-weight:normal;
    text-align:center;
    font-family: 'Parisienne', cursive;
    color:#ffffff;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.todo_content {
    width:40%;
    height:16%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border-top:15px solid #5E2612;
    background-color:#ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15) 
}

.wide {
    width:70%;
}

.hide {
    display:none;
}

.todo-item {
    border: 1px solid #eee;
    margin-top:5px;
}

.todo-item label,
.todo-item span  {
    margin: 10px 5px;
    }

.todo-item.complete .toggle {
    color:green;
}

.todo-item.complete label {
    text-decoration:line-through;
}

.templates {
    margin-top: 50px;
}

.info {
    width:45%;
    padding-top:30px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    color:#b3b3b3;
    font-size:1em;
    line-height:12px;
}

.checkbox, .todotext {
    width:100%;  
    height:100%;
    display:block;
    float:left;
    margin:0px;
}

.checkbox {
    width:8%;
    height:100%;
    font-size: 2em;
}

.checkbox:after {
    content:'✔';
    color:#b3b3b3;
    padding:9px;
}

.footer {
    width:34%;
    height:4%;
    z-index:1;
    color: #8d8d8d;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}